.container {

  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

}

.posts {
  max-width: 720px;
  margin: 5rem auto 0; //top laterais baixo

  a {
    display: block;

    & + a {
      border-top: 1px solid var(--gray-700);
      padding-top: 2rem;
      margin-top: 2rem;
    }
    

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300);
    }

    strong {
      display: block;
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 2rem;

      transition: color 0.2s;
    }

    p {
      margin-top: 0.5rem;
      line-height: 1.625rem;
      font-size: 1rem;
      color: var(--gray-300);
    }

    &:hover strong {
      color: var(--yellow-500);
    }

  }
}

  
  